body {
    margin: 0;
}

#thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

table {
    margin: 0 auto;
}

th, td {
    background-color: #96D4D4;
    border-radius: 5px;
    padding: 15px;
}

#username-form {
    height: 30px;
    margin: 0 10px;
}

#timer {
    position: fixed;
    background-color: #FFF;
    font-size: 1.2rem;
}

.center {
    text-align: center;
}

.button {
    border: none;
    background-color: #96D4D4;
    padding: 10px;
    border-radius: 10px;
}

#modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #000;
}

#modal {
    position: fixed;
    top: 45%;
    left: 45%;
    background-color: #FFF;
    z-index: 1;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
}


@media only screen and (max-width: 600px) {
    table {
        max-width: 85%;
    }
}